@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');



#services{
	padding: 5rem;
	font-family: "Quicksand", sans-serif;
	background-color: #f2f2f2;
	text-align:center;

}

.services i{

	color:#3B945E;
	font-size:4rem;
	margin-bottom: 1rem;
}

.block{
	-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
cursor: pointer;
background-color: white;
}

.block:hover{

	-webkit-box-shadow: -2px 1px 21px -6px rgba(24,38,40,1);
-moz-box-shadow: -2px 1px 21px -6px rgba(24,38,40,1);
box-shadow: -2px 1px 21px -6px rgba(24,38,40,1);
}