.data{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 50%;
    top:15%;
    margin-left: -200px; /* margin is -0.5 * dimension */
    margin-top: -55px; 
}

.data-container h1{
    font-weight: 800;
    margin-left: 5rem;
    font-size: 2.5rem;
}


.data-containers{
    display:flex;
    margin-top: 1rem;
    margin-left: -40px;
}

.data-container{
  padding: 1rem;
}

.data-container h4,a{
    color: #182628;
    font-size: 1rem;
    font-weight: 800;
}
.data-container h3{
  margin-left: 3%;
}
.data-container h4,.data-container a{
  margin-left: 5%;
}
.data-container p{
    color: #3b945e;
    font-size: 1rem;
    margin-top: -5px;
}
.data-container a:hover{
    color:#3b945e;
}
/* h3 text */
.data-container h3,.data-container h1{
  font-weight: 800;
  font-size: 1.5em;
  width: 16em;
  line-height: 1.2em;
  padding-bottom: 0.5rem;
  background: conic-gradient(
    #182628 16.666%, 
    #65ccb8 16.666%, 
    #57ba98 33.333%, 
    #3b945e 33.333%,
    #182628 50%, 
    #65ccb8 50%, 
    #57ba98 66.666%, 
    #3b945e 66.666%, 
    #182628 83.333%, 
    #65ccb8 83.333%  
   );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}
.data-container h1{
  font-size: 2rem;
}
.data-container h3:hover{
    animation: rainbow-text-animation 0.5s ease forwards;
}
.data-container h1:hover{
    animation: rainbow-text-animation 0.5s ease forwards;
}

.data-container:last-child{
  padding-bottom: 10rem;
}

.data-container ::checkbox { 
    color: red;
    opacity: 1; 
  }
@keyframes rainbow-text-animation {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }