.service-grid {
    
   background:#ffffff;
      
      
}
.service-icon {
    position: relative;
}
.service-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.about-info-text h2 {
    margin-bottom: 23px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: .9;
}
.about-info-text p {
    padding: 0 100px;
    font-size: 18px;
    margin-bottom: 26px;
      position: relative;
}
.about-content p {
    margin-bottom: 0;
}
.about-info-text a {
    margin-bottom: 20px;
      position: relative;
}
.service-icon i {
    font-size: 40px;
    color: #3B945E;
    margin-bottom: 20px;
    display: inline-block;
}
.service-wrap {
    padding: 50px 30px;
      position: relative;
      text-align: -webkit-center;
}

.service-wrap p{
      position: relative;
}
