
.google {
    margin-top: 2rem;
    margin-left: 42%;
    font-weight: 900;
    width: 230px;
    padding-top: 10px;
    height:3rem;
    background-color:#4285F4;
    background-image: none;
    color: #f2f2f2;
    border: none;

}

.google i{
    color:#f2f2f2;
    padding-right: 10px;
}

 .google button:hover{
    background-color:#182628;
    transform: scale(1.02);
}

@media(max-width:920px){
    .loginSubmit{
        min-width: 200px;
    }

    .google{
        margin-left: 34%;
    }
}

@media(max-width:830px){
    .loginSubmit{
        min-width: 200px;
    }

    .google{
        margin-left: 32%;
    }
}

@media(max-width:590px){
    .loginSubmit{
        min-width: 200px;
    }
    .google{
        margin-left: 25%;
    }
}
