
.google {
    margin-top: 14rem;
    margin-left: 2rem;
    font-weight: 900;
    width: 230px;
    padding-top: 10px;
    height:3rem;
    background-color:#4285F4;
    background-image: none;
    color: #f2f2f2;
    border: none;

}

.google i{
    color:#f2f2f2;
    padding-right: 10px;
}

 button:hover{
    background-color:#182628;
    transform: scale(1.02);
}